.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 374px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(230, 223, 223);
  height: 185px;
  padding: 5px 10px;
  border-radius: 5px;
}
.container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
/* // ///خریدار انواع ایفون کارکرده   لحظاتی پیش در تهران، تجریش/ تهران */
