.form {
  max-width: 500px;
  margin: auto;
  margin-top: 150px;
  border: 1px solid silver;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.form p {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.form span {
  color: rgb(169, 166, 166);
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.form input {
  border-radius: 5px;
  padding: 4px 10px;
  margin: 20px 0;
  color: silver;
}
.form button {
  background-color: #a62626;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 90px;
}
